<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card">Register New User</p><br>
        <form class="form-signin" #frm = "ngForm">
           
            <div class="form-group">
                <input 
                    minlength="5" 
                    maxlength="20"
                    id="inputEmail"
                    type="text" 
                    [(ngModel)] = "user.name" 
                    name="name" 
                    class="form-control" 
                    placeholder="User Name" 
                    required 
                    #name="ngModel"
                    pattern="^[a-zA-Z ]+$">
            </div>
            
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name?.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name?.errors.minlength">
                    Name must be at least 5 characters long.
                </div>
                <div *ngIf="name?.errors.maxlength">
                        Name must be at least 20 characters long.
                </div>
                <div *ngIf="name?.errors?.pattern">
                        Name Invalid
                </div>
            </div>
            
            <div class="form-group">
                <input 
                    minlength="5" 
                    maxlength="30"
                    type="email" 
                    [(ngModel)] = "user.email" 
                    name="email" 
                    id="inputEmail" 
                    class="form-control" 
                    placeholder="Email address" 
                    required 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                    #email="ngModel">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                <div *ngIf="email?.errors.required">
                    Name is required.
                </div>
                <div *ngIf="email?.errors.minlength">
                    Email must be at least 5 characters long.
                </div>
                <div *ngIf="email?.errors?.pattern">
                    Email Invalid
                </div>
                <div *ngIf="form.hasError('invalidusername', ['email']) && form.get('email').touched">
					Email already exists
				</div>
            </div>

            <div class="form-group">
                <input 
                    type="password" 
                    [(ngModel)] = "user.password" 
                    name="password" 
                    id="inputPassword" 
                    class="form-control" 
                    placeholder="Password" 
                    required pattern="[0-9]*" 
                    #password="ngModel" 
                    maxlength="20" 
                    minlength="5"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

                <div *ngIf="password?.errors.required">
                    Password is required.
                </div>
                <div *ngIf="password?.errors.minlength">
                    Password must be at least 5 characters long.
                </div>
                <div *ngIf="password?.errors.maxlength">
                        Password must be at least 20 characters long.
                    </div>
                <div *ngIf="password?.errors?.pattern">
                    Password Invalid
                </div>
            </div>

            <div class="form-group">
                <select [(ngModel)] = "user.role.idrole" name="idrole" class="form-control" id="exampleFormControlSelect1">
                    <option value="3">Admin</option>
                    <option value="2">Sticker Seller</option>
                    <option value="1">Customer</option>
                  
                </select>
            </div>
            <button class="btn btn-primary" type="submit" (click)="createUser()">Register</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
  </div><!-- /container -->